/.idea
/vendor
/node_modules
/public/storage
/public/images/avatars/*
/public/images/mailImage/*
/public/images/sliders/*
/public/images/logos/*
/public/wp/wp-config.php
/public/avatars/*
Homestead.yaml
Homestead.json
.env
/nbproject
public/wp/wp-content/uploads
*.map

*.rdb
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
composer.lock
